@import "materialize";
@import "materialize/extras/nouislider";

h1{
  font-family: 'Cedarville Cursive', cursive;
}

body{
  background-color: rgba(238, 212, 189, 1)
}
.container{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.card .card-image .card-title{
  font-size:1.2em;
}
