<h1>Locations index page</h1>
<div>
  <% @locations.each do |location| %>
    <li>
      <a href="/locations/<%=location[:id]%>"><%=location[:name]%></a>
    </li>
  <% end %>
</div>


<a href="/weddings">Back</a>
