
<h1>Locations index page</h1>
<button><a href="/weddings">Back</a></button>  <button><a href="/locations/new">Add a Location</a></button>

<div>
  <% @locations.each do |location| %>
    <li>
      <a href="/locations/<%=location[:id]%>"><%=location[:name]%></a>
          </li>
        <button><%= link_to 'Delete', @location, method: :destroy %></button>
  <% end %>

</div>
