<h1>Hello Guest!</h1>
<h2><a href="/new">Create a new guest for the wedding</h2>

Here are the list of guests:
<% @guests.each do |guest| %>
  <%= @guest[:name] %>
  <%= @guest[:email] %>
  <%= @guest[:rsvp] %>
<% end %>
