<h2>Hello Guest!</h2>

All guests so far:<br>
<% @guests.each do |guest| %>
    <%= guest.name %>|
    <%= link_to 'Show', guest_path(guest) %>|
    <%= link_to 'Edit', edit_guest_path(guest) %> |
    <%= link_to 'Destroy', guest_path(guest),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    <br>
  <% end %>


<button><a href="/guests/new">Add a new guest for this wedding</a></button>
